@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.spiky-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 300px;
  min-height: 50px;

  padding: 0.5rem 1rem;

  color: #000;

  border-radius: 4px;

  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: #3BCC5E;
  }
}

.question-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}